<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={{ url_for('public.home') }}>Solar Pi</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a id="dashboard" class="active" href="{{ url_for('public.home') }}"><i
                            class="fa fa-dashboard fa-fw"></i>
                        Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul id='chart_nav' class="nav nav-second-level">
                        <li>
                            <a id="daily_data" href="{{ url_for('charts.daily') }}">Daily Charts</a>
                        </li>
                        <li>
                            <a id="weekly_data" href="{{ url_for('charts.weekly') }}">Weekly Charts</a>
                        </li>
                        <li>
                            <a id="monthly_data" href="{{ url_for('charts.monthly') }}">Monthly Charts</a>
                        </li>
                        <li>
                            <a id="yearly_data" href="{{ url_for('charts.yearly') }}">Yearly Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a id="tables" href="{{ url_for('pvdata.tables') }}"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a id="statistics" href="{{ url_for('pvdata.statistics') }}"><i class="fa fa-signal fa-fw"></i>
                        Statistics</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>