*.py[cod]
*.so
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
output/*.html
output/*/index.html
docs/_build
.webassets-cache
env
env*
README.rst
.idea/*
dev.db
*.bak