{% extends "layout.html" %}
{% block page_title %}

    Last 30 Days Energy Output - Solar Pi

{% endblock %}
{% block content %}
    <script>
        var data = {{ data|safe }};
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Monthly Chart
                    </div>
                    <div class="panel-body">
                        <div id="monthly-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#chart_nav').addClass('collapse in');
        $('#side-menu').find('a').each(function (i) {
            $(this).removeClass('active');
        });
        $('#monthly_data').addClass("active");
    </script>
    <script src="{{ url_for('static', filename='js/monthly-chart.js') }}"></script>
{% endblock %}


