{% extends "layout.html" %}
{% block page_title %}
    Last 7 Days Energy Output - Solar Pi
{% endblock %}
{% block meta_description %}
    Photovoltaic chart for the last 7 days. Generated energy: {{ seven_days_energy }}
    kWh
{% endblock %}
{% block content %}
    <script>
        var pvData = {{ pvdata|safe }};
        var importData = {{ importData|safe }};
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Last 7 Days Energy: {{ seven_days_energy }} kWh</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Last 7 days yield
                    </div>
                    <div class="panel-body">
                        <div id="weekly-pv-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Last 7 days import
                    </div>
                    <div class="panel-body">
                        <div id="weekly-import-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#chart_nav').addClass('collapse in');
        $('#side-menu').find('a').each(function (i) {
            $(this).removeClass('active');
        });
        $('#weekly_data').addClass("active");
    </script>
    <script src="{{ url_for('static', filename='js/weekly-pv-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weekly-energy-import-chart.js') }}"></script>
{% endblock %}


