{% extends "layout.html" %}
{% block page_title %}
    About - Solar Pi
{% endblock %}
{% block meta_description %}
    Solar Pi - A RaspberryPi based, Flask powered photovoltaic monitor
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>Solar Pi</h1>
                Solar Pi is a <a href="http://geni.us/K28m">Raspberry Pi</a> based, Flask powered photovoltaic monitor. The background of this project can
                be found at <a
                    href="http://blog.tafkas.net/2014/07/03/a-raspberry-pi-photovoltaic-monitoring-solution/">
                http://blog.tafkas.net</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#side-menu').find('a').each(function (i) {
            $(this).removeClass('active');
        });
        $('#about').addClass("active");
    </script>
{% endblock %}
